/* .body, html {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #fff;
}


.md-body-1, .md-body-2, .body {
    font-size: 14px;
    letter-spacing: .01em;
}

.md-body-1, body {
    font-weight: 400;
    line-height: 20px;
}

body {
    min-height: 100%;
    margin: 0;
    position: relative;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 0 50px;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    justify-content: space-between;
}

.align-center {
    align-items: center !important;
}

.justify-between {
    justify-content: space-between !important;
}

.content-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.navbar, .Logo {
height: 40px;
width: 150px;
}

.navbar, .links {
    position: relative;
}

.navbar, .links {
    display: flex;
    width: 100%;
    max-width: 430px;
}

.navbar, .Home-Active {
    color: #6030b1 !important;
}

.navbar, a {
    text-decoration: underline;
}

.content-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.btn {
    display: flex;
    cursor: pointer;
    max-height: 48px;
    min-height: 48px;
    padding: 12px 40px;
    align-items: center;
    border: 2px #523eff;
    border-radius: 50px;
    background-color: #6030b1;
    color: #fff !important;
    font-size: 13px;
    font-weight: 700px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .35s ease;
}

#LandingPage {
max-width: 100vw;
padding: 10px 20px 0 20px;
overflow: hidden;
display: flex;
flex: 1;
}

.BigMainContainer {
    flex-direction: column !important;
}


.NavBar__Links {
    display: flex;
   justify-content: flex-end;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
}

.Logo {
height: 160px;
width: 170px;
}

.ContactButton {
    cursor: pointer;
    padding: 12px 40px;
    border: 2px #523eff;
    border-radius: 50px;
    background-color: #F5D13D;
    color: black !important;
    font-size: 13px;
    font-weight: 900px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: italic;
}

.NavBar__Links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

.Menu {
    display: none;
}

.FirstContainer {
    /* z-index: 10px;
    background-color: rgb(255, 255, 255);
    padding: 0px 16px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; */
    /* text-align: center;
    justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

.Container {
    transform: none;
    text-align: center;
    justify-content: center;
}

.FirstHeader {
    max-width: 730px;
    font-weight: 700;
    line-height: 1.25;
    color: #F5D13D;
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
}

.Header2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 0px 40px;
}

.ChangeColor {
    color: #f5f33d;
    font-weight: 800;
    font-style: italic;
}

.InputSearch {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #0a1f44;
    color: #0a1f44;
    display: inline-block;
    height: 70px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-size: 24px;
    padding-left: 25px;
}

.Loading {
    font-size: 40px;
    color: #fff;
    border-radius: 20px;
    transition: all .25s ease;
    margin: 0px 0px 0px 20px;
    padding: 10px 30px;
}

.Loading:hover {
    background-color: #F5D13D;
    cursor: pointer;
}


.Not-Loading {
    border: 1px solid #F5D13D;
    background-color: #F5D13D;
    box-shadow: 7px 7px 14px rgba(134, 93 204, .3);
    cursor: pointer;
}

.fa-magnifying-glass {
overflow: visible;
width: 1em;
display: inline-block;
font-size: inherit;
height: 1em;
vertical-align: -0.125em;
background-color: #F5D13D;
}

.FilmRoll {
    margin-top: 30px;
}

.Home-Active {
    color:#F5D13D;
}

.SearchYourFilm {
    color: #F5D13D;
}






@media (max-width: 750px) {
    .Menu {
        display: flex;
    }

    .NavBar__Links {
        display: none;
    }

}


