/* .body, html {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #fff;
}


.md-body-1, .md-body-2, .body {
    font-size: 14px;
    letter-spacing: .01em;
}

.md-body-1, body {
    font-weight: 400;
    line-height: 20px;
}

body {
    min-height: 100%;
    margin: 0;
    position: relative;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 0 50px;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    justify-content: space-between;
}

.align-center {
    align-items: center !important;
}

.justify-between {
    justify-content: space-between !important;
}

.content-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.navbar, .Logo {
height: 40px;
width: 150px;
}

.navbar, .links {
    position: relative;
}

.navbar, .links {
    display: flex;
    width: 100%;
    max-width: 430px;
}

.navbar, .Home-Active {
    color: #6030b1 !important;
}

.navbar, a {
    text-decoration: underline;
}

.content-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.btn {
    display: flex;
    cursor: pointer;
    max-height: 48px;
    min-height: 48px;
    padding: 12px 40px;
    align-items: center;
    border: 2px #523eff;
    border-radius: 50px;
    background-color: #6030b1;
    color: #fff !important;
    font-size: 13px;
    font-weight: 700px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .35s ease;
}

#LandingPage {
max-width: 100vw;
padding: 10px 20px 0 20px;
overflow: hidden;
display: flex;
flex: 1;
}

.BigMainContainer {
    flex-direction: column !important;
}


.NavBar__Links {
    display: flex;
   justify-content: flex-end;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    position: relative;
    background-color: transparent;
    z-index: 2;
}

.Logo {
height: 160px;
width: 170px;
}

.Logo img {
    filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.5));
}

.ContactButton {
    cursor: pointer;
    padding: 12px 40px;
    border: 2px #523eff;
    border-radius: 50px;
    background-color: #F5D13D;
    /* color: white !important; */
    color: black;
    font-size: 13px;
    font-weight: 900px;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* font-style: italic; */
    transition: 0.3s ease-in-out;
    font-style: italic;
    font-weight: bold;
}

.ContactButton:hover {
    color: white;
    background-color: black;
    box-shadow: 0 0 10px yellow, 0 0 20px gold, 0 0 30px orange;
    text-shadow: 0 0 10px yellow, 0 0 20px gold;
    border-color: gold;
}

.NavBar__Links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    background: none;
}

.NavBar__Links a {
    text-decoration: none;
    color: #F5D13D;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: color 0.3s ease-in-out;
    background: none !important;
}

.NavBar__Links a:hover {
    color: #F5D13D;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 0, 0.6);
    transform: scale(1.1);
}

.Menu {
    display: none;
}

.FirstContainer {
    /* z-index: 10px;
    background-color: rgb(255, 255, 255);
    padding: 0px 16px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; */
    /* text-align: center;
    justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.Container {
    transform: none;
    text-align: center;
    justify-content: center;
}

.FirstHeader {
    max-width: 730px;
    font-weight: 700;
    line-height: 1.25;
    color: #F5D13D;
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
}

.Header2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 0px 40px;
}

.ChangeColor {
    color: #f5f33d;
    font-weight: 800;
    font-style: italic;
}

.InputSearch {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #0a1f44;
    color: #0a1f44;
    display: inline-block;
    height: 70px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-size: 24px;
    padding-left: 25px;
}

.Loading {
    font-size: 40px;
    color: #fff;
    border-radius: 20px;
    transition: all .25s ease;
    margin: 0px 0px 0px 20px;
    padding: 10px 30px;
}

.Loading:hover {
    background-color: #F5D13D;
    cursor: pointer;
}


.Not-Loading {
    border: 1px solid #F5D13D;
    background-color: #F5D13D;
    box-shadow: 7px 7px 14px rgba(134, 93 204, .3);
    cursor: pointer;
}

.fa-magnifying-glass {
overflow: visible;
width: 1em;
display: inline-block;
font-size: inherit;
height: 1em;
vertical-align: -0.125em;
/* background-color: #F5D13D; */
}

.FilmRoll {
    margin-top: 30px;
}

.Home-Active {
    color:#F5D13D;
}

.SearchYourFilm {
    color: #F5D13D;
}

.FirstContainer {

    display: flex;
   
   flex-direction: column;
   
   align-items: center;
   
   justify-content: center;
   
   margin-top: 20px;
   
   width: 100%;
   
   animation: fadeInUp 1.5s ease-in-out 0.3s forwards;
   
   }

   .BrowseContainer {
    margin-top: 40px;
    z-index: 2;
    display: flex;
    justify-content: center;
   }

   .BrowseClickWatch {
    font-weight: bold;
    text-align: center;
    font-size: 42px;
    color: #fff;
    text-shadow: 0 0 10px #F5D13D, 0 0 20px #F5D13D, 0 0 15px orange;
    animation: glowingText 1.5s infinite alternate;
    /* margin-top: 40px; */
    background: none;
    margin-bottom: 10px;
   }

   /* .BrowseClickWatch {
    position: relative;
    z-index: 2;
    margin-top: -50px;
   } */

   .BrowseMovieInput {
    /* color: #F5D13D;
    width: 100%;
    max-width: 1200px;
    height: 60px;
    font-size: 20px;
    padding-left: 20px;
    background-color: #fff;
    border-radius: 40px; */
    padding-left: 20px;
    border-radius: 40px;
    border: 5px solid red !important;
    flex: 1;
    height: 50px;
    padding: 10px;
    border: none;
    outline: 5px solid black;
    font-size: 16px;
    width: 100%;
    max-width: none;
    color: #F5D13D;
    font-style: italic;
   }

   .SearchButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 10px;
   }

   .SearchButton i {
    font-size: 18px;
    color: #F5D13D;
   }

   /* .search-bar {
    width: 60%;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid gold;
    font-size: 20px;
   } */

   .InputWrapper__Browse {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
    gap: 10px;
    position: relative;
    width: 40%;
    max-width: 600px;
    /* transform: translate(-50%, -50%); */
    /* background: white; */
    /* border-radius: 5px; */
    padding: 5px;
    /* border: 1px solid #ccc; */
    /* align-items: center; */
    /* flex-direction: row; */
    /* display: inline-block; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%);
    /* max-width: 600px;
    width: 100%; */
    /* margin-top: 40px; */ 
   }

   .InputWrapper__Browse i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
    /* background-color: #fff; */
   }

   .InputWrapper__Browse input {
    padding: 10px 40px 10px 15px;
    border: 1px solid #ccc;
    font-size: 20px;
    /* width: 700px; */
    border-radius: 40px;
    /* align-items: center;
    display: flex; */
   }

   .Search-Wrapper {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    padding: 0 20px 0px 8px;
    color: #F5D13D;
    font-size: 32px;
    transition: all .2s ease;
   }

   .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-image: url('./assets/red\ curtains.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    z-index: 0;
   }

   .body {
    margin: 0;
    padding: 0;
    background-color: black;
   }

   .BrowseInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin-top: 20px; */
    min-height: 100vh;
    padding: 20px;
    /* position: relative;
    margin-top: 150px; */
    flex-direction: column;
    /* gap: 10px; */
   }

   #SearchResults {
    position: relative;
    /* padding: 40px 20px; */
    display: flex;
    flex-direction: column;
   }
 
   
   .glowing-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 215, 0, 1) 50%, rgba(255, 255, 0) 100%);
    box-shadow: 0px 0px 15px rgba(255, 215, 0, 0.8);
    animation: glowing 2s infinite linear;
   }

   .Filter {
    padding: 0 20px;
   }

   .curtain {
    position: relative;
    width: 100%;
    height: 60vh;
    background: url('./assets/red\ curtains.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .MovieTitle {
    color: white;
   }

   #SearchResults {
    padding: 20px;
    color: white;
   }

   .SearchResultsTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
   }

   .FilterContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
   }
   
   .PriceFilter {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #F5D13D;
   }
   
   #priceRange {
    width: 200px;
   }

 .MovieCard {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
}


   
   /* Define the keyframe animation */
   
   @keyframes fadeInUp {
   
    0% {
   
   opacity: 0;
   
   transform: translateY(30px); /* Start below the normal position */
   
    }
   
    100% {
   
   opacity: 1;
   
   transform: translateY(0); /* End at the normal position */
   
    }
   
   }

   @keyframes glowing {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
   }

   @keyframes glowingText {
    0% {
        text-shadow: 0 0 5px #F5D13D, 0 0 10px #F5D13D, 0 0 15px orange;
    }

    50% {
        text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px darkred;
    }

    100% {
        text-shadow: 0 0 15px #F5D13D, 0 0 25px #F5D13D, 0 0 35px orange;
    }
   }







@media (max-width: 750px) {
    .Menu {
        display: flex;
    }

    .NavBar__Links {
        display: none;
    }

}


